USE [C121_hotsauce2888_gmail]
GO
/****** Object:  UserDefinedTableType [dbo].[PokemonAbilitiesV2]    Script Date: 23/01/2023 13:00:18 ******/
CREATE TYPE [dbo].[PokemonAbilitiesV2] AS TABLE(
	[AbilityId] [int] NOT NULL
)
GO
