USE [C121_hotsauce2888_gmail]
GO
/****** Object:  UserDefinedTableType [dbo].[PokemonWeaknesses]    Script Date: 23/01/2023 13:00:18 ******/
CREATE TYPE [dbo].[PokemonWeaknesses] AS TABLE(
	[TypeId] [int] NOT NULL
)
GO
